body, input, button {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #143952;
}
#cover {
  background-image width: 1920px;
  background-image height: auto;
  background-repeat: no-repeat;
}
#inputs {
  margin-bottom: 30px;
}
input {
  width: 50px;
  padding: 10px;
}
button {
  background: #CCC;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.7), 0 1px 2px rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px 20px;
}
button:hover {
  background: #DDD;
}
button:active {
  background: #BBB;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
}
.clearfix::after {
 content: ".";
 visibility: hidden;
 display: block;
 height: 0;
 clear: both; 
}
#result {
  width: 10px;
  color: #F6062B;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 27px;
  font-size: 25px;

}
#summer {
  font-family: sans-serif;
  font-size: 30px;
  color: #FFC300  ;
  font-weight: bold;
  padding-top: 10px;
  font-style: italic;
  display: block;
}
#winter {
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  font-style: italic;
  display: block;
}
#fall {
  font-family: sans-serif;
  font-size: 30px;
  color: yellow;
  font-weight: bold;
  padding-top: 10px;
  font-style: italic;
  display: block;
}
#spring {
  font-family: sans-serif;
  font-size: 30px;
  color: #0CF16B;
  font-weight: bold;
  padding-top: 10px;
  font-style: italic;
  display: block;
}